body, html {
  height: 100%;
  margin: 0;
  position: relative;
}

.violetgradient{
  margin:0px;
  background: linear-gradient(-45deg,#752bad,#5e41e0, #418be0, #41a6e0 );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 10s ease infinite;
  animation: gradientBG 10s ease infinite;
}

.box{
  background-color: aliceblue;
  width: 50%;
  margin: 150px auto;
  padding: 50px;
  font-weight: bold;
  border-radius: 10px;
}

.trial{
 
  width: 50%;
  margin: 150px auto;
  padding: 50px;
  
}



.logo{
  height:4rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aliceblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #418be0;
  color: aliceblue
}
li a:hover:(.active) {
  color: aliceblue
}
.active {
  background: #418be0;
  color: white
}

.footer-padding {
  padding-bottom: 60px;
}

  .footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
  }
  
  .footer p {
    margin-top: 25px;
    font-size: 15px;
    color: black;
  }
